<script>
  $( document ).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
<nav class="site-nav" role="navigation">

  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo grey-text text-darken-2" href="{{ site.baseurl | prepend: site.url }}">
      <img src="{{ "/css/logo-white.png" | prepend: site.baseurl | prepend: site.url }}" class="logo">
    </a>
    <ul class="right hide-on-med-and-down">
      {% for my_page in site.pages %}
        {% if my_page.title and my_page.title != "Thank you!" %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}#title">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="tel:+64273643914"><i class="fa fa-phone"></i> 027 364 3914</a></li>
      <li><a target="_blank" href="https://www.facebook.com/michaelrea.msfn"><i class="fa fa-facebook-square"></i></a></li>
    </ul>
    <ul class="side-nav" id="nav-mobile">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <div class="divider"></div>
      <li><a href="tel:+64273643914"><i class="fa fa-phone"></i> 027 364 3914</a></li>
      <li><a href="https://www.facebook.com/michaelrea.msfn" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
    </ul>
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="fa fa-bars"></i></a>
  </div>

</nav>
