---
layout: default
---
<div class="section">
  <div class="row">
    <div class="col s12 m9 push-m3">
      <header class="post-header">
        <h3 class="post-title" id="title">{{ page.title }}</h3>
      </header>
      {{ content }}
    </div>
    <div class="col s12 m3 pull-m9">
      <img src="http://images3.multiarray.com/ViewImage.aspx?id=c83a4677-c6da-4427-a780-bd26ffa78f88&width=234&height=312&db=PlatformNZ&resize=padwhite" class="responsive-img">
      <blockquote>
        Michael Rea – A multi-award winning Sales Consultant - “My reputation is your guarantee”<br />
        027 364 3914
      </blockquote>
    </div>
  </div>
</div>
