<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div class="slider">
      <ul class="slides">
        <li>
          <img src="{{ site.url }}/css/Cover1.jpg">
          <div class="caption center-align">
            <h2><a href="/appraisal/#title" class="black-text">Curious to know what your home is worth?</a></h2>
            <h5><a href="/appraisal/#title" class="black-text">Click here to find out!</a></h5>
          </div>
        </li>
        <li>
          <a href="{{ site.url }}/buyer-alert/#title"><img src="{{ site.url }}/css/Promotional-Buying-Alerts.jpg"></a>
        </li>
        <li>
          <a href="{{ site.url }}/contact/#title"><img src="{{ site.url }}/css/Personas-Option-2.jpg"></a>
        </li>
      </ul>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <div class="google-map">
      <iframe src="https://www.google.com/maps/d/embed?mid=173ndjThvwpbUbGy5hjA6sbUpFus&hl=en" frameborder="0" style="border:0"></iframe>
    </div>

    {% include footer.html %}

  </body>

</html>
