<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div class="slider">
      <ul class="slides">
        <li>
          <img src="{{ site.url }}/css/fn-backdrop.jpg">
          <div class="caption center-align">
            <h2><a href="/appraisal/#title" class="black-text">Curious to know what your home is worth?</a></h2>
            <h5><a href="/appraisal/#title" class="black-text">Click here to find out!</a></h5>
          </div>
        </li>
        <li>
          <img src="http://i.imgur.com/2sF3hJ6.jpg">
          <div class="caption center-align">
            <h2><a class="indigo-text text-darken-4" href="/buyer-alert/#title">Hunting for your dream home?</a></h2>
            <h5><a class="indigo-text text-darken-4" href="/buyer-alert/#title">Click here to find yours</a></h5>
          </div>
        </li>
        <li>
          <img src="http://imgur.com/DfDBPgk.jpg">
          <div class="caption center-align">
            <h2><a href="{{ site.url }}/#testimonials" class="white-text">Hear what other people have to say about Michael Rea</a></h2>
            <h5><a href="{{ site.url }}/#testimonials" class="white-text">My reputation is your guarantee</a></h5>
          </div>
        </li>
        <li>
          <a href="{{ site.url }}/appraisal/#title"><img src="{{ site.url }}/css/sold-touch.jpg"></a>
        </li>
        <li>
          <img src="http://imgur.com/DfDBPgk.jpg">
          <div class="caption center-align">
            <h2><a href="{{ site.url }}/contact/#title" class="white-text">First time buying or selling?</a></h2>
            <h5><a href="{{ site.url }}/contact/#title" class="white-text">Don't be shy, my advice is free</a></h5>
          </div>
        </li>
      </ul>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <div class="google-map">
      <iframe src="https://www.google.com/maps/d/embed?mid=173ndjThvwpbUbGy5hjA6sbUpFus&hl=en" frameborder="0" style="border:0"></iframe>
    </div>

    {% include footer.html %}

  </body>

</html>
