<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

    <div class="slider">
      <ul class="slides">
        <li>
          <img src="{{ site.url }}/css/fn-backdrop.jpg">
          <div class="caption center-align">
            <h2><a href="/appraisal" class="black-text">Curious to know what your home is worth?</a></h2>
            <h5><a href="/appraisal" class="black-text">Click here to find out!</a></h5>
          </div>
        </li>
        <li>
          <img src="http://i.imgur.com/2sF3hJ6.jpg">
          <div class="caption center-align">
            <h2><a class="indigo-text text-darken-4" href="/buyer-alert">Hunting for your dream home?</a></h2>
            <h5><a class="indigo-text text-darken-4" href="/buyer-alert">Click here to find yours</a></h5>
          </div>
        </li>
        <li>
          <img src="http://imgur.com/DfDBPgk.jpg">
          <div class="caption center-align">
            <h2><a href="{{ site.url }}/#testimonials" class="white-text">Hear what other people have to say about Michael Rea</a></h2>
            <h5><a href="{{ site.url }}/#testimonials" class="white-text">My reputation is your guarantee</a></h5>
          </div>
        </li>
        <li>
          <a href="{{ site.url }}/appraisals"><img src="{{ site.url }}/css/sold-touch.jpg"></a>
        </li>
        <li>
          <img src="http://imgur.com/DfDBPgk.jpg">
          <div class="caption center-align">
            <h2><a href="{{ site.url }}/contact" class="white-text">First time buying or selling?</a></h2>
            <h5><a href="{{ site.url }}/contact" class="white-text">Don't be shy, my advice is free</a></h5>
          </div>
        </li>
      </ul>
    </div>

    <div class="container">
        {{ content }}
    </div>

    <div class="google-map">
      <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.6012219850536!2d173.95432261568567!3d-41.512915779252886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d391499d1ad3735%3A0x8deb18511784c45d!2sFirst+National+Real+Estate!5e0!3m2!1sen!2snz!4v1468799384684" frameborder="0" style="border:0"></iframe>
    </div>

    {% include footer.html %}

  </body>

</html>
